<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Otobus.Properties.Settings.OtobusConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=F:\Eray\Dosyalar\24.03.2017\Otobus\Veritabani\Otobus.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="Otobus.Properties.Settings.D__DIĞER_ERAY_ERAY_DOSYALAR_OTOBÜS_VERITABANı_OTOBUS_MDFConnectionString"
            connectionString="Data Source=TAN;Initial Catalog=&quot;D:\DIĞER\ERAY\ERAY\DOSYALAR\OTOBÜS VERITABANı\OTOBUS.MDF&quot;;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="OtobusVeritabani"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=G:\Eray\Dosyalar\Otobus Uygulaması (access)\Otobus\App_data\Otobus.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>